<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("navbar") %>
    <h1 class="Add-heading">Task List</h1>
    <div class="container">
        <ul class="task-list">
            <% for(let i = 0 ; i<result.length ; i++){ %>
                <li class="task-item">
                    <div class="task-title"><%= result[i].title %></div>
                    <div class="task-description"><%= result[i].description%></div>
                    <a href="/delete/<%= result[i]._id %>" class="delete_btn">Delete</a>                    
                    <a href="/update/<%= result[i]._id %>" class="update_btn">Update</a>
                </li>
            <%}%>
        </ul>
    </div>
</body>
</html>